Flask>=1,<2
werkzeug>=1,<2
flask-session~=0.3.2
requests>=2,<3
msal>=1.7,<2
azure-mgmt-resource==10.2.0
azure-mgmt-web
azure-cli-core
pywinrm>=0.3.0
wheel
cryptography
pycrypto
ansible>=2.8.4
mysql
pyyaml
mysql-connector
pymysql
azure.cli
flask-mysqldb


pyodbc
adal
msrestazure